name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-release:
    name: build-release
    runs-on: ${{ matrix.os }}
    # SINGLE SOURCE OF TRUTH: Define your binary name here
    env:
      BIN_NAME: hermes
    strategy:
      fail-fast: false
      matrix:
        include:
          - build: linux-x86_64
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            platform: linux-x86_64
          - build: windows-x86_64
            os: windows-latest
            target: x86_64-pc-windows-msvc
            platform: win-x86_64
          - build: macos-x86_64
            os: macos-latest
            target: x86_64-apple-darwin
            platform: macos-x86_64
          - build: macos-arm64
            os: macos-latest
            target: aarch64-apple-darwin
            platform: macos-arm64

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.target }}

    - name: Run Tests
      if: contains(matrix.target, 'x86_64')
      run: cargo test --release

    - name: Build
      run: cargo build --release --target ${{ matrix.target }} --locked

    - name: Strip Symbols
      if: matrix.os != 'windows-latest'
      run: strip target/${{ matrix.target }}/release/${{ env.BIN_NAME }}

    - name: Run UPX
      if: matrix.os != 'macos-latest' && matrix.os != 'windows-latest'
      uses: crazy-max/ghaction-upx@v3
      with:
        version: latest
        # Matches either the extensionless binary or the .exe version
        files: |
          target/${{ matrix.target }}/release/${{ env.BIN_NAME }}
          target/${{ matrix.target }}/release/${{ env.BIN_NAME }}.exe
        args: --best --lzma

    - name: Generate Changelog
      id: changelog
      if: matrix.os == 'ubuntu-latest'
      uses: jaywcjlove/changelog-generator@main
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        # Logic: If windows, add .exe, else nothing
        file: target/${{ matrix.target }}/release/${{ env.BIN_NAME }}${{ matrix.os == 'windows-latest' && '.exe' || '' }}
        asset_name: ${{ env.BIN_NAME }}_${{ matrix.platform }}${{ matrix.os == 'windows-latest' && '.exe' || '' }}
        tag: ${{ github.ref_name }}
        overwrite: true
        prerelease: ${{ !startsWith(github.ref, 'refs/tags/') }}
        body: ${{ matrix.os == 'ubuntu-latest' && steps.changelog.outputs.changelog || '' }}
